#This file is used as a template to generate logging.config files when creating new workspaces.
#To modify the logging properties, modify the file {workspace_location}/.metadata/.SA/logging.config
[loggers]
keys=root,engineLog

[handlers]
keys=fileHandler

[formatters]
keys=myFormatter

[logger_root]
level=DEBUG
handlers=fileHandler

[logger_engineLog]
level=DEBUG
handlers=fileHandler
qualname=engineLog
propagate=0

[handler_fileHandler]
class=FileHandler
level=ERROR
formatter=myFormatter
args=('C:/ELI/Dropbox/ACTIVE_PICKGUARD/SRC/CW_WORKSPACE/.metadata/.SA//engine.log', 'a')

[formatter_myFormatter]
format=[%(filename)s] %(message)s
datefmt=
